.search-page {
    background-color: antiquewhite;
    padding-left: 10px;        
}

.results-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}
