body {
    margin: 0;
    padding: 0;
}

.site-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif;     
}

.message-when-no-data {
    color: #A52D2D;
    padding-left: 30px;
}

.spinner {
    background-color: #FBE0B4;       
}
